/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
    height: 200px;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #b2dfdb;
}

nav {
    margin-top: 10px;
}

.searchbar input[type=text] {

    float: right;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;


}

.searchbar {
    width: 50%;
}


.container {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    margin: auto;
}

.category {

    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.category p {

    text-align: center;
    padding: 10px;

}

.info-image {

    padding: 10px;

}